*{
  margin: 0;
  padding: 0;
}

html,body{

  height: 100%;
  width: 100%;
  background: #fbf7f7;
}

header{
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
}
header>h1{
  margin-bottom: 20px;
}

#reset{
  margin-top: 1em;
  border-radius: 7px;
  padding: 10px;
  width: 120px;
  height: auto;
  background-color:white;
}
#name_user{
  width: 150px;
  height:30px;
  padding: 5px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
section{
  text-align: center;
  align-content: center;
}
#panel{
  position: relative;

}
#tictactoe{
  margin-top: 20px;
  margin-left: 40%;
  list-style:none;
  width: 165px;
}
#tictactoe .tacbutom{
  margin-left: 2px;
  margin-right: 2px;
  display:inline-block;
  border:1px solid red;
  width: 3em;
  height: 3em;

}

#name_user:focus{
  outline:0;
  width: 150px;
  height:30px;
  padding: 5px;
  border: 1px solid #A09DCC;
  border-radius: 5px;
}
#reset:focus{
  outline: 0;
}
#reset:hover{
  box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
  background-color: #A09DCC;

}
